html{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    position: relative;
    min-height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2c3e50 !important;
    position: sticky;
    z-index: 1000;
    top: 0;
}  
li.header-title a{
    font-size: 28px;
    font-weight: 700;
    float: left;
    display: inline-block;
    font-weight: bolder;
    color: white;
    padding: 35px 45px;
}
li.header-link a{
    float: right;
    font-size: 16px;
    padding-top: 45px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 0;
    font-weight: 700;
}  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;    
}
.banner-sec{
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 50px 0;
} 
li.header-link a:hover{
    color:#1abc9c;
}
.banner-image{
    width:250px;
    height:250px;    
} 
.banner-title{
    margin: 0;
    padding: 0;
    font-size:64px ;
    color: white;
    display: block;
    text-align: center;
}
.banner-para{
    margin: 0;
    padding: 0;
    font-size:24px ;
    color: white;
    display: block;
    text-align: center;
}
.port-sec{
    background-color: white;
    padding: 50px 0;
    width: 100%;
}
#port-title{
    margin: 0;
    padding: 0;
    font-size:48px ;
    color:#2c3e50 !important;
    display: block;
    text-align: center;
    font-weight: 700 ;
}
.port-img-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;  
}
.port-card img{
    border-radius: 7px;
}
.port-card {    
    margin:20px;
    position: relative;
}
.port-card .plus{
    position: absolute;
    top:0;
    background-color: #1abc9c;
    font-size: 100px;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 330px;
    border-radius: 7px;
}
.plus .fas{
    color: white;
}
.port-card:hover .plus{
    display: flex;
}
.about-sec{
    background-color: #1abc9c;
    padding:50px 250px;
    width: calc(100% - 500px);
}
.about-sec-title{
    margin: 0; 
    padding: 0;
    font-size:48px ;
    font-weight: 700;
    color:white;
    text-align: center;   
}
.about-sec-con{
    width: 100%;
}
.about-sec-text{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 20px;
}
.about-sec-para{
    margin-right:25px;
}
.download-button{
    border-color: white;
    color: white;
    border-style: solid;
    border-width: medium;
    background-color:#1abc9c ;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
}
.download-sec{
    text-align: center;
}
.download-button:hover{
    background-color: azure;
    color: black;
    outline: none;
    cursor: pointer;
}
.download-button:focus{
    outline: none;
}
.contact-sec{
    background-color:white;
    display: inline-block;
    padding: 50px 250px;
    width: calc( 100% - 500px);
}
.contact-title{
    margin: 0;
    padding: 0;
    font-size:40px ;
    color:#2c3e50 ;
    font-weight: 700;
    display: block;
    text-align: center;
}
.contact-input {
    width: 750px;
    padding: 20px 0;
    margin: 0;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid lightgrey;
    display: block;
    margin-top: 50px;
}
.contact-input:focus{
    outline: none;
}
.send-button{
    margin: 0;
    margin-top: 50px;
    border:none;
    color: white;
    background-color: #1abc9c;
    border-color: #1abc9c;
    height: 50px;
    width: 100px;
    border-radius: 6px;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.send-button:hover{
    background-color: #148f77;
    border-color:#148f77;
    cursor: pointer;
}
.send-button:focus{
    outline: none;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer-sec{
    padding: 50px 100px;
    vertical-align: top;
    display: inline-block;
    background-color: #2c3e50;    
}
.footer-left{
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    margin-right: 60px;
}
.footer-center{
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    margin-right: 60px;
}
.footer-right{
    width: 35%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
}
.footer-title{
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.footer-para{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.footer-bottom{
    text-align: center;
    color: white;
    background-color:#1a252f    ;
    margin: 0;
    padding: 25px;
    font-size: 15px;
    width:calc(100% - 50px);
}
.contact-input:focus{
    border-top-color: white;
}
.footer-link{
    color: #1abc9c;
}
.footer-link:hover{
   color:#148f77;
   text-decoration: underline;
   cursor: pointer;
}
.star-icon{
    color: white;
    font-size: 35px;
    text-align: center;
    position: relative;
    width: 52px;
    margin: auto;
}
.star-icon1{
    color: #2c3e50 ;
    font-size: 35px;
    text-align: center;
    position: relative;
    width: 52px;
    margin: auto;
}
.footer-center-icon{
    color: white;
    text-align: center;
}
.footer-height{
    height: 346px;
}
.star-icon::before,
.star-icon1::before{
    content:"";
    display: block;
    height: 3px;
    width: 100px;
    top: 26px;
    position: absolute;
    left: -110px;
}
.star-icon::after,
.star-icon1::after{
    content:"";
    display: block;
    height: 3px;
    width: 100px;
    top: 26px;
    position: absolute;
    right: -110px;
    
}
.star-icon::before{
    background-color: white;
}
.star-icon::after{
    background-color: white;
}
.star-icon1::before{
    background-color:#2c3e50;
}
.star-icon1::after{
    background-color:#2c3e50;
}
.port-card-image{
    width:330px;
    height:250px;
}

